<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452651337641-mkti8sd1jqvmhu7pjhrmu04e7kt2m4no.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452651337641-mkti8sd1jqvmhu7pjhrmu04e7kt2m4no</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>452651337641-l6bikqbans4f9097lr9t6eoahrr86emh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZYPww9o0gaVAG990mgCgW9ea-NT9b-Ho</string>
	<key>GCM_SENDER_ID</key>
	<string>452651337641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exapp.rosterinsight</string>
	<key>PROJECT_ID</key>
	<string>rosterinsight-7be51</string>
	<key>STORAGE_BUCKET</key>
	<string>rosterinsight-7be51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452651337641:ios:cab17b145ab4dd0a6b26b8</string>
</dict>
</plist>